.categories {
    margin: 4rem 0;
    .heading {
        color: $color-text-1;
    }
    .item {
        color: $color-text-1;
        box-shadow: $color-box-shadow;
        font-size: 1.5rem;
        padding: 2rem 1rem;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        i {
            font-size: 3rem;
            margin-right: 1.5rem;
        }
        &:hover {
            box-shadow: $color-box-shadow-hover;
        }
    }
   
}
@media (max-width:768px) {
        .header__categories {
            display: none!important;
        }
}