// Variable color   
$color-primary: #ec5252;
$color-text-header: #505763;
$color-grey: #f2f3f5;
$color-border-grey: #dedfe0;
$color-border-grey-light:  #e8e9eb;
$color-link: #007791;

$color-text-2: #686f7a;
$color-text-1: #29303b;
$color-yellow-1: #f4c150;

$color-box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
$color-box-shadow-hover: 0 2px 8px 2px rgba(20,23,28,.15);
// $color-text-bold: ;
// $color-text

// variable font-size

// variable margin

// variable padding

// variable fontweight


// VARIABLE RESPONSIVE
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;